<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="connectionSettings" value="key0"/>
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Server = RARES-DAN-ASUS\SQLEXPRESS; Database = VideoRental; Trusted_Connection = True"/>
  </connectionStrings>
</configuration>